
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Imagenes/Mantenimiento/style.css" />
<div class="col col-md-12" style="margin-top:2rem">
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-user-tie"></span><br /><br />
            <a style="margin-left:50px" href="../Empleados" class="btn btn-primary">Empleados</a>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-building"></span><br /><br />
            <a style="margin-left:20px" href="../Departamentos" class="btn btn-primary">Departamentos</a>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-position"></span><br /><br />
            <a style="margin-left:60px" href="../Cargos" class="btn btn-primary">Cargos</a>
        </div>
    </div>
</div>
