@{
    ViewData["Title"] = "Acerca de";
}

<div class="center-block">
    <div class="form-group">
        <img src="https://itla.edu.do/identidad_corporativa/Logo_Full_Color/Logo_Color_Full.png" width="550" alt="Alternate Text" />
    </div>
    <div class="form-group">
        <label>Estudiantes:</label>
        <p>Gabriel Almonte Sanchez</p>
        <p>Miguel Reynoso</p>
    </div>

    <div class="form-group">
        <label>Matriculas:</label>
        <p>2017-4960</p>
        <p>2017-5740</p>
    </div>

    <div class="form-group">
        <label>Período Académico</label>
        <p>2019 C-3</p>
    </div>

    <div class="form-group">
        <label>Fecha de Entrega</label>
        <p>04/12/2019</p>
    </div>

    <div class="form-group">
        <label>Nombre del Profesor</label>
        <p>Prof. Juan Manuel</p>
    </div>

    <div class="form-group">
        <label>Tema de Estudio</label>
        <p>Proyecto Final (Recursos Humanos)</p>
    </div>
</div>
