@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Imagenes/Index/style.css" />

<div class="col col-md-12" style="margin-top:2rem">
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-user-plus"></span><br /><br />
            <a href="/Mantenimiento/Index" class="btn btn-primary">Módulo de Mantenimientos</a>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-spinner3"></span><br /><br />
            <a style="margin-left:30px" href="/Procesos/Index" class="btn btn-primary">Módulo de Procesos</a>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-file-text"></span><br /><br />
            <a style="margin-left:20px" href="/Informes/Index" class="btn btn-primary">Módulo de Informes</a>
        </div>
    </div>
</div>