
@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" href="~/Imagenes/Informe/style.css" />

<div class="col col-md-12" style="margin-top:2rem">
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-coin-dollar"></span><br /><br />
            <a style="margin-left:50px" href="/Nominas" class="btn btn-primary">Nominas</a>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-user-check"></span><br /><br />
            <a style="margin-left:25px" href="/Empleados/EmpleadosActivos" class="btn btn-primary">Empleados Activos</a>
        </div>
    </div>

    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-user-minus"></span><br /><br />
            <a style="margin-left:30px" href="/Empleados/EmpleadoInactivos" class="btn btn-primary">Empleados Inactivos</a>
        </div>
    </div>
</div>

<div class="col col-md-12 " style="margin-top:4rem">
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-building"></span><br /><br />
            <a style="margin-left:20px" href="Departamentos" class="btn btn-primary">Departamentos</a>
        </div>
    </div>

    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-position"></span><br /><br />
            <a style="margin-left:60px" href="Cargos" class="btn btn-primary">Cargos</a>
        </div>
    </div>

    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-enter"></span><br /><br />
            <a style="margin-left:10px" href="/Proceso/Licencias" class="btn btn-primary">Entradas de empleados por mes</a>
        </div>
    </div>
</div>

<div class="col col-md-12 " style="margin-top:4rem">
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-exit"></span><br /><br />
            <a href="/Proceso/Permisos" class="btn btn-primary">Salida de Empleados por mes</a>
        </div>
    </div>

    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-ticket"></span><br /><br />
            <a style="margin-left:60px" href="/Proceso/Licencias" class="btn btn-primary">Permisos</a>
        </div>
    </div>
</div>