
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Imagenes/Proceso/style.css" />

<div class="col col-md-12" style="margin-top:2rem">
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-coin-dollar"></span><br /><br />
            <a style="margin-left:25px" href="/Proceso/Nominas" class="btn btn-primary">Calculo de Nominas</a>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-user-minus"></span><br /><br />
            <a style="margin-left:25px" href="/Proceso/SalidaEmpleados" class="btn btn-primary">Salida de Empleados</a>
        </div>
    </div>

    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-airplane"></span><br /><br />
            <a style="margin-left:50px" href="/Proceso/Vacaciones" class="btn btn-primary">Vacaciones</a>
        </div>
    </div>
</div>

<div class="col col-md-12 " style="margin-top:4rem">
    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-calendar"></span><br /><br />
            <a style="margin-left:50px" href="/Proceso/Permisos" class="btn btn-primary">Permisos</a>
        </div>
    </div>

    <div class="col col-md-4">
        <div class="card-body">
            <span style="font-size: 20rem;" class="icon-aid-kit"></span><br /><br />
            <a style="margin-left:60px" href="/Proceso/Licencias" class="btn btn-primary">Licencias</a>
        </div>
    </div>
</div>
